<!DOCTYPE html>
<html>
  <head>
	  <meta charset="UTF-8">
	  <title>Redireccionando al index</title>
  </head>

  <body>
    <div>
      <center>
        <h3>Formulario de registro de usuario</h3>
      </center>
      <center>
        <table border=2>
          <form action="insertarUsuario.php" method="post">
            <tr>
              <td>
                <label for="first_name">First name:</label>
              </td>
              <td>
                <input type="text" name="first_name"><br>
              </td>
            </tr>
            <tr>
              <td>
                <label for="last_name">Last name:</label>
              </td>
              <td>
                <input type="text" name="last_name"><br>
              </td>
            </tr>
            <tr>
              <td>
                <label for="email">E-mail:  </label>
              </td>
              <td>
                <input type="text" name="email"><br>
              </td>
            </tr>
            <tr>
              <td>
                <label for="sexo">Sexo  </label>
              </td>
              <td>
                <center>
                  <select name="sexo">
                    <option>Seleccion su sexo</option>
                    <option value="M">M</option>
                    <option value="F">F</option>
                    <option value="O">Other</option>
                  </select>
                </center>
              </td>
            </tr>
            <tr>
              <td>
                <center> <button type="submit" name="guardar">Registrar usuario</button></center>
              </td>
              <td>
                <center> <button type="reset" name="limpiar">Limpiar</button></center>
              </td>
            </tr>
          </form>
        </table>
      </center>
    </div>
  </body>
</html>
